// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}
// Martin Kode start
.wrapper {
  width: 100%;
}
.header {
  width: 1200px;
  height: 600px;
  padding-top: 30px;
  padding-left: 100px;
  background-image: url("../Images/travelly-free.png");
  margin-left: auto;
  margin-right: auto;

}
.top {
  display: flex;
}
.logo {
  height: 23px;
  display: flex;
  font-family: 'Open Sans light', sans-serif;
}
.logo_image {
  margin-top: auto;
  margin-bottom: auto;
}
.logo_tekst {
  font-size: 23px;
  color: white;
  margin-left: 13px;
  text-align:  center;
  margin-top: -6px;
}
.menu {
  height: 23px;
  font-size: 23px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: 100px;
}
.search_box {
  width: 100%;
  margin-top: 225px;
  margin-left: 200px;
  font-family: 'Open Sans light', sans-serif;
}
.search_tagline {
  font-size: 52px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.search_field {
  margin-top: 40px;
  margin-left: 60px;
}
#field {
  height: 40px;
  width: 310px;
  padding-left: 15px;
  border: none;
  color: #cecece;
}
#button {
  height: 40px;
  width: 120px;
  margin: 0;
  margin-left: -4px;
  border: none;
  background-color: #fd4f32;
  color: white;
}
// Martin kode slut
@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}